<!DOCTYPE html>
<html>

  {% include 2023_data/head.html %}


    <body id="page-top" class="index">

    {% include 2023_data/header-home.html %}

    <!-- Header -->
    
    <header>
        <!--<video autoplay muted loop id="myVideo">
            <source src="../css/2023_style/img/video_hero.mp4" type="video/mp4">
        </video>-->
        <div class="container">
            <div class="intro-text">
            
                
            </div>
            <a href="https://weezevent.com/fr/" target="_blank" class="page-scroll btn btn-xl" style="margin-top: 70px;">Réserver</a>
        </div>
    </header>

    {% include 2023_data/intro.html %}
    {% include 2023_data/speakers.html %}
    {% include 2023_data/programme.html %}
    {% include 2023_data/acces.html %}
    {% include 2023_data/contact.html %}
    {% include 2023_data/footer.html %}
    {% include 2023_data/speakers_info.html %}
    {% include 2023_data/js.html %}

    </body>
</html>